<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset" style="text-align:center;">
    <h4 style="text-align:center;">About</h4>
    <p>Welcome to the Blog page of <em>Tsotke Okrostsvaridze's</em> portfolio website. Enjoy the reading through various interesting materials and dont forget to hit me up on the social media links indicated below, if you have any questions.</p>
  </div>
  
  <div class="sidebar-module" style="text-align:center;">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4 style="text-align:center;">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/cotneok"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/tsotne-okrostsvaridze-ab1b5958/?locale=en_US"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.instagram.com/cotne_ok/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/cotne.ok"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/cotne_ok"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->